# precompiled python
*.pyc

# compiled object file
*.o

# no binaries
*.exe

# roms
*.gbc
*.gb

# rgbds extras
*.sym

# converted image data
*.2bpp
*.1bpp
*.pic

# converted audio data
*.pcm

# swap files for vim
.*.swp

# no data from extras/
*.json

# for any of the poor souls with save game files in their working directory
*.sgm
*.sav
*.sys

# lol bgb
*.sn1
*.sn2
*.sn3
*.sn4
*.sn5
*.sn6
*.sn7
*.sn8
*.sn9
*.sn0

# replace.sh
replace.sh

# leftover txt files from diff
*.txt

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc
