# Auto detect text files and perform LF normalization
* text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.asm text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.2bpp binary
*.1bpp binary
*.rle binary
*.bst binary
*.tilemap binary
*.wav binary
*.blk binary
*.pic binary

# Declare files that will always have CRLF line endings on checkout.
*.patch.template text eol=crlf linguist-language=INI
