# precompiled python
*.pyc

# compiled object file
*.o

# no binaries
*.exe

# roms
*.gbc

# generated
*.tx

# swap files for vim
.*.swp

# no data from extras/
*.json

# for any of the poor souls with save game files in their working directory
baserom.sgm
baserom.sav
pokered.sgm
pokered.sav

baserom.sys
pokered.sys

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc
